package pages

import (
	"github.com/indaco/goaster"
	"github.com/indaco/goaster/examples/layouts"
	"github.com/indaco/goaster/examples/layouts/partials"
)

templ MultipleToastPage(toaster *goaster.Toaster) {
	@layouts.Page() {
		@partials.Head("goaster - single toast")
		@partials.Body() {
			<!-- display the messages -->
			@toaster.RenderAll()
		}
	}
}
