package pages

import (
	"github.com/indaco/goaster"
	"github.com/indaco/goaster/examples/layouts"
	"github.com/indaco/goaster/examples/layouts/partials"
)

templ VariantNeonPage(toaster *goaster.Toaster) {
	@layouts.Page() {
		@partials.Head("goaster - neon variant")
		@partials.Body() {
			<p><a href="/">&larr; Back</a></p>
			<p><em>The neon variant is designed for dark mode. In light mode it falls back to default styling.</em></p>
			@toaster.RenderAll()
		}
	}
}
