package pages

import (
	"github.com/indaco/goaster"
	"github.com/indaco/goaster/examples/layouts"
	"github.com/indaco/goaster/examples/layouts/partials"
)

templ VariantAccentLightPage(toaster *goaster.Toaster) {
	@layouts.Page() {
		@partials.Head("goaster - accent light variant")
		@partials.Body() {
			<p><a href="/">&larr; Back</a></p>
			@toaster.RenderAll()
		}
	}
}
