:root {
  --gtt-accent-dark-bg: hsla(220.9, 39.3%, 11%, 0.85);

  --gtt-default-accent-dark-color: var(--gtt-color-default-light);
  --gtt-success-accent-dark-color: var(--gtt-color-success-light);
  --gtt-error-accent-dark-color: var(--gtt-color-error-light);
  --gtt-warning-accent-dark-color: var(--gtt-color-warning-light);
  --gtt-info-accent-dark-color: var(--gtt-color-info-light);
}

.gttToast[role='alert'][data-variant='accent-dark'] {
  border: 0;
  border-left-width: 4px;
  border-left-style: solid;
}

.gttToast[role='alert'][data-level='default'][data-variant='accent-dark'] {
  --_gtt-color: var(--gtt-default-accent-dark-color);
  --_gtt-bg: var(--gtt-accent-dark-bg);
  --_gtt-border-color: var(--gtt-default-border-color);
  border-left-color: var(
    --gtt-default-accent-border-color,
    var(--gtt-color-default-base)
  );
}

.gttToast[role='alert'][data-level='success'][data-variant='accent-dark'] {
  --_gtt-color: var(--gtt-success-accent-dark-color);
  --_gtt-bg: var(--gtt-accent-dark-bg);
  --_gtt-border-color: var(--gtt-success-border-color);
  border-left-color: var(
    --gtt-success-accent-border-color,
    var(--gtt-color-success-base)
  );
}

.gttToast[role='alert'][data-level='error'][data-variant='accent-dark'] {
  --_gtt-color: var(--gtt-error-accent-dark-color);
  --_gtt-bg: var(--gtt-accent-dark-bg);
  --_gtt-border-color: var(--gtt-error-border-color);
  border-left-color: var(
    --gtt-error-accent-border-color,
    var(--gtt-color-error-base)
  );
}

.gttToast[role='alert'][data-level='warning'][data-variant='accent-dark'] {
  --_gtt-color: var(--gtt-warning-accent-dark-color);
  --_gtt-bg: var(--gtt-accent-dark-bg);
  --_gtt-border-color: var(--gtt-warning-border-color);
  border-left-color: var(
    --gtt-warning-accent-border-color,
    var(--gtt-color-warning-base)
  );
}

.gttToast[role='alert'][data-level='info'][data-variant='accent-dark'] {
  --_gtt-color: var(--gtt-info-accent-dark-color);
  --_gtt-bg: var(--gtt-accent-dark-bg);
  --_gtt-border-color: var(--gtt-info-border-color);
  border-left-color: var(
    --gtt-info-accent-border-color,
    var(--gtt-color-info-base)
  );
}
