.gttToast[role='alert'][data-variant='accent'] {
  border: 0;
  border-left-width: 4px;
  border-left-style: solid;
}

.gttToast[role='alert'][data-level='default'][data-variant='accent'] {
  border-left-color: var(--gtt-default-accent-border-color, #6b7280);
}

.gttToast[role='alert'][data-level='success'][data-variant='accent'] {
  border-left-color: var(--gtt-success-accent-dark-color, #22c55e);
}

.gttToast[role='alert'][data-level='error'][data-variant='accent'] {
  border-left-color: var(--gtt-error-accent-border-color, #ef4444);
}

.gttToast[role='alert'][data-level='warning'][data-variant='accent'] {
  border-left-color: var(--gtt-warning-accent-border-color, #f97316);
}

.gttToast[role='alert'][data-level='info'][data-variant='accent'] {
  border-left-color: var(--gtt-info-accent-border-color, #3b82f6);
}
