package pages

import (
	"github.com/indaco/goaster"
	"github.com/indaco/goaster/demos/layouts"
	"github.com/indaco/goaster/demos/layouts/partials"
)

templ ThemesPage(toaster *goaster.Toaster) {
	@layouts.Page() {
		@partials.Head("goaster - single toast") {
			<style type="text/css">
				:root {
					--gtt-border-style: dashed;

					--gtt-success-base: #84cc16;
				}
			</style>
		}
		@partials.Body() {
			<!-- display the messages -->
			@toaster.Success("Success Toast")
		}
	}
}
